.emoji {
	width: 14px;
	height: 14px;
	display: inline-block;
}
.emoji-copyright-circle {background: url('sprites/sheet_apple_16.png') no-repeat -1px -1px;}
.emoji-rmtrademark-circle {background: url('sprites/sheet_apple_16.png') no-repeat -1px -17px;}
.emoji-double-exclaim {background: url('sprites/sheet_apple_16.png') no-repeat -1px -33px;}
.emoji-exclaim-question {background: url('sprites/sheet_apple_16.png') no-repeat -1px -49px;}
.emoji-trademark {background: url('sprites/sheet_apple_16.png') no-repeat -1px -65px;}
.emoji-i-slant {background: url('sprites/sheet_apple_16.png') no-repeat -1px -81px;}
.emoji-arrow-side-side {background: url('sprites/sheet_apple_16.png') no-repeat -1px -97px;}
.emoji-arrow-up-down {background: url('sprites/sheet_apple_16.png') no-repeat -1px -113px;}
.emoji-arrow-top-left {background: url('sprites/sheet_apple_16.png') no-repeat -1px -129px;}
.emoji-arrow-top-right {background: url('sprites/sheet_apple_16.png') no-repeat -1px -145px;}
.emoji-arrow-bottom-right {background: url('sprites/sheet_apple_16.png') no-repeat -1px -161px;}
.emoji-arrow-bottom-left {background: url('sprites/sheet_apple_16.png') no-repeat -1px -177px;}
.emoji-arrow-loop-right {background: url('sprites/sheet_apple_16.png') no-repeat -1px -193px;}
.emoji-arrow-loop-left {background: url('sprites/sheet_apple_16.png') no-repeat -1px -209px;}
.emoji-watch {background: url('sprites/sheet_apple_16.png') no-repeat -1px -225px;}
.emoji-hourglass-half {background: url('sprites/sheet_apple_16.png') no-repeat -1px -241px;}
.emoji-keyboard {background: url('sprites/sheet_apple_16.png') no-repeat -1px -257px;}
.emoji-arrow-double-right {background: url('sprites/sheet_apple_16.png') no-repeat -1px -273px;}
.emoji-arrow-double-left {background: url('sprites/sheet_apple_16.png') no-repeat -1px -289px;}
.emoji-arrow-double-up {background: url('sprites/sheet_apple_16.png') no-repeat -1px -305px;}
.emoji-arrow-double-down {background: url('sprites/sheet_apple_16.png') no-repeat -1px -321px;}
.emoji-arrow-forward {background: url('sprites/sheet_apple_16.png') no-repeat -1px -337px;}
.emoji-arrow-backward {background: url('sprites/sheet_apple_16.png') no-repeat -1px -353px;}
.emoji-arrow-pause-play {background: url('sprites/sheet_apple_16.png') no-repeat -1px -369px;}
.emoji-alarm-clock {background: url('sprites/sheet_apple_16.png') no-repeat -1px -385px;}
.emoji-stopwatch {background: url('sprites/sheet_apple_16.png') no-repeat -1px -401px;}
.emoji-timer {background: url('sprites/sheet_apple_16.png') no-repeat -1px -417px;}
.emoji-hourglass-full {background: url('sprites/sheet_apple_16.png') no-repeat -1px -433px;}
.emoji-pause {background: url('sprites/sheet_apple_16.png') no-repeat -1px -449px;}
.emoji-square-blue-square {background: url('sprites/sheet_apple_16.png') no-repeat -1px -465px;}
.emoji-circle-blue-square {background: url('sprites/sheet_apple_16.png') no-repeat -1px -481px;}
.emoji-m-blue-circle {background: url('sprites/sheet_apple_16.png') no-repeat -1px -497px;}
.emoji-square-black-small {background: url('sprites/sheet_apple_16.png') no-repeat -1px -513px;}
.emoji-square-white-small {background: url('sprites/sheet_apple_16.png') no-repeat -1px -529px;}
.emoji-arrow-full-forward {background: url('sprites/sheet_apple_16.png') no-repeat -1px -545px;}
.emoji-arrow-full-backward {background: url('sprites/sheet_apple_16.png') no-repeat -1px -561px;}
.emoji-square-black {background: url('sprites/sheet_apple_16.png') no-repeat -1px -577px;}
.emoji-square-white {background: url('sprites/sheet_apple_16.png') no-repeat -1px -593px;}
.emoji-square-black-medium {background: url('sprites/sheet_apple_16.png') no-repeat -1px -609px;}
.emoji-square-white-medium {background: url('sprites/sheet_apple_16.png') no-repeat -1px -625px;}
.emoji-sun {background: url('sprites/sheet_apple_16.png') no-repeat -1px -641px;}
.emoji-cloud {background: url('sprites/sheet_apple_16.png') no-repeat -17px -1px;}
.emoji-umbrella {background: url('sprites/sheet_apple_16.png') no-repeat -17px -17px;}
.emoji-snowman-snow {background: url('sprites/sheet_apple_16.png') no-repeat -17px -33px;}
.emoji-comet {background: url('sprites/sheet_apple_16.png') no-repeat -17px -49px;}
.emoji-phone {background: url('sprites/sheet_apple_16.png') no-repeat -17px -65px;}
.emoji-check-black {background: url('sprites/sheet_apple_16.png') no-repeat -17px -81px;}
.emoji-umbrella-rain {background: url('sprites/sheet_apple_16.png') no-repeat -17px -97px;}
.emoji-coffee {background: url('sprites/sheet_apple_16.png') no-repeat -17px -113px;}
.emoji-clover {background: url('sprites/sheet_apple_16.png') no-repeat -17px -129px;}
.emoji-palm-point-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -17px -145px;}
.emoji-palm-point-white {background: url('sprites/sheet_apple_16.png') no-repeat -17px -161px;}
.emoji-palm-point-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -177px;}
.emoji-palm-point-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -193px;}
.emoji-palm-point-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -209px;}
.emoji-palm-point-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -225px;}
.emoji-skull-crossbones {background: url('sprites/sheet_apple_16.png') no-repeat -17px -241px;}
.emoji-bio-hazard-1 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -257px;}
.emoji-bio-hazard-2 {background: url('sprites/sheet_apple_16.png') no-repeat -17px -273px;}
.emoji-orthodox-cross {background: url('sprites/sheet_apple_16.png') no-repeat -17px -289px;}
.emoji-star-crescent {background: url('sprites/sheet_apple_16.png') no-repeat -17px -305px;}
.emoji-peace {background: url('sprites/sheet_apple_16.png') no-repeat -17px -321px;}
.emoji-ying-yang {background: url('sprites/sheet_apple_16.png') no-repeat -17px -337px;}
.emoji-dharma-wheel {background: url('sprites/sheet_apple_16.png') no-repeat -17px -353px;}
.emoji-frown {background: url('sprites/sheet_apple_16.png') no-repeat -17px -369px;}
.emoji-smile {background: url('sprites/sheet_apple_16.png') no-repeat -17px -385px;}
.emoji-aries {background: url('sprites/sheet_apple_16.png') no-repeat -17px -401px;}
.emoji-taurus {background: url('sprites/sheet_apple_16.png') no-repeat -17px -417px;}
.emoji-gemini {background: url('sprites/sheet_apple_16.png') no-repeat -17px -433px;}
.emoji-cancer {background: url('sprites/sheet_apple_16.png') no-repeat -17px -449px;}
.emoji-leo {background: url('sprites/sheet_apple_16.png') no-repeat -17px -465px;}
.emoji-virgo {background: url('sprites/sheet_apple_16.png') no-repeat -17px -481px;}
.emoji-libra {background: url('sprites/sheet_apple_16.png') no-repeat -17px -497px;}
.emoji-scorpius {background: url('sprites/sheet_apple_16.png') no-repeat -17px -513px;}
.emoji-sagittarius {background: url('sprites/sheet_apple_16.png') no-repeat -17px -529px;}
.emoji-capricorn {background: url('sprites/sheet_apple_16.png') no-repeat -17px -545px;}
.emoji-aquarius {background: url('sprites/sheet_apple_16.png') no-repeat -17px -561px;}
.emoji-pisces {background: url('sprites/sheet_apple_16.png') no-repeat -17px -577px;}
.emoji-spade-card {background: url('sprites/sheet_apple_16.png') no-repeat -17px -593px;}
.emoji-heart-card {background: url('sprites/sheet_apple_16.png') no-repeat -17px -609px;}
.emoji-diamond-card {background: url('sprites/sheet_apple_16.png') no-repeat -17px -625px;}
.emoji-club-card {background: url('sprites/sheet_apple_16.png') no-repeat -17px -641px;}




.emoji-hot-spring {background: url('sprites/sheet_apple_16.png') no-repeat -33px -1px;}
.emoji-recycle {background: url('sprites/sheet_apple_16.png') no-repeat -33px -17px;}
.emoji-wheelchair-symbol {background: url('sprites/sheet_apple_16.png') no-repeat -33px -33px;}
.emoji-hammer-pick {background: url('sprites/sheet_apple_16.png') no-repeat -33px -49px;}
.emoji-anchor {background: url('sprites/sheet_apple_16.png') no-repeat -33px -65px;}
.emoji-crossed-swords {background: url('sprites/sheet_apple_16.png') no-repeat -33px -81px;}
.emoji-scales {background: url('sprites/sheet_apple_16.png') no-repeat -33px -97px;}
.emoji-crystal-ball {background: url('sprites/sheet_apple_16.png') no-repeat -33px -113px;}
.emoji-gear {background: url('sprites/sheet_apple_16.png') no-repeat -33px -129px;}
.emoji-atom-symbol {background: url('sprites/sheet_apple_16.png') no-repeat -33px -145px;}
.emoji-fleur-de-lis {background: url('sprites/sheet_apple_16.png') no-repeat -33px -161px;}
.emoji-warning-sign {background: url('sprites/sheet_apple_16.png') no-repeat -33px -177px;}
.emoji-high-voltage {background: url('sprites/sheet_apple_16.png') no-repeat -33px -193px;}
.emoji-circle-white-medium {background: url('sprites/sheet_apple_16.png') no-repeat -33px -209px;}
.emoji-circle-black-medium {background: url('sprites/sheet_apple_16.png') no-repeat -33px -225px;}
.emoji-coffin {background: url('sprites/sheet_apple_16.png') no-repeat -33px -241px;}
.emoji-funeral-urn {background: url('sprites/sheet_apple_16.png') no-repeat -33px -257px;}
.emoji-soccer-ball {background: url('sprites/sheet_apple_16.png') no-repeat -33px -273px;}
.emoji-baseball {background: url('sprites/sheet_apple_16.png') no-repeat -33px -289px;}
.emoji-snowman {background: url('sprites/sheet_apple_16.png') no-repeat -33px -305px;}
.emoji-sun-behind-cloud-1 {background: url('sprites/sheet_apple_16.png') no-repeat -33px -321px;}
.emoji-thunder-cloud-and-1 {background: url('sprites/sheet_apple_16.png') no-repeat -33px -337px;}
.emoji-ophiuchus {background: url('sprites/sheet_apple_16.png') no-repeat -33px -353px;}
.emoji-pick {background: url('sprites/sheet_apple_16.png') no-repeat -33px -369px;}
.emoji-helmet-with-white-cross {background: url('sprites/sheet_apple_16.png') no-repeat -33px -385px;}
.emoji-chains {background: url('sprites/sheet_apple_16.png') no-repeat -33px -401px;}
.emoji-no-entry {background: url('sprites/sheet_apple_16.png') no-repeat -33px -417px;}
.emoji-shinto-shrine {background: url('sprites/sheet_apple_16.png') no-repeat -33px -433px;}
.emoji-church {background: url('sprites/sheet_apple_16.png') no-repeat -33px -449px;}
.emoji-snow-capped-mountain {background: url('sprites/sheet_apple_16.png') no-repeat -33px -465px;}
.emoji-beach-with-umbrella {background: url('sprites/sheet_apple_16.png') no-repeat -33px -481px;}
.emoji-fountain {background: url('sprites/sheet_apple_16.png') no-repeat -33px -497px;}
.emoji-flag-in-hole {background: url('sprites/sheet_apple_16.png') no-repeat -33px -513px;}
.emoji-ferry {background: url('sprites/sheet_apple_16.png') no-repeat -33px -529px;}
.emoji-sailboat {background: url('sprites/sheet_apple_16.png') no-repeat -33px -545px;}
.emoji-skier {background: url('sprites/sheet_apple_16.png') no-repeat -33px -561px;}
.emoji-ice-skate {background: url('sprites/sheet_apple_16.png') no-repeat -33px -577px;}
.emoji-person-with-ball-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -33px -593px;}
.emoji-person-with-ball-white {background: url('sprites/sheet_apple_16.png') no-repeat -33px -609px;}
.emoji-person-with-ball-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -33px -625px;}
.emoji-person-with-ball-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -33px -641px;}



.emoji-person-with-ball-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -1px;}
.emoji-person-with-ball-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -17px;}
.emoji-camping {background: url('sprites/sheet_apple_16.png') no-repeat -49px -33px;}
.emoji-fuel-pump {background: url('sprites/sheet_apple_16.png') no-repeat -49px -49px;}
.emoji-scissors {background: url('sprites/sheet_apple_16.png') no-repeat -49px -65px;}
.emoji-check-white {background: url('sprites/sheet_apple_16.png') no-repeat -49px -81px;}
.emoji-airplane {background: url('sprites/sheet_apple_16.png') no-repeat -49px -97px;}
.emoji-envelope {background: url('sprites/sheet_apple_16.png') no-repeat -49px -113px;}
.emoji-fist-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -49px -129px;}
.emoji-fist-white {background: url('sprites/sheet_apple_16.png') no-repeat -49px -145px;}
.emoji-fist-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -161px;}
.emoji-fist-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -177px;}
.emoji-fist-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -193px;}
.emoji-fist-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -209px;}
.emoji-raised-hand-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -49px -225px;}
.emoji-raised-hand-white {background: url('sprites/sheet_apple_16.png') no-repeat -49px -241px;}
.emoji-raised-hand-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -257px;}
.emoji-raised-hand-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -273px;}
.emoji-raised-hand-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -289px;}
.emoji-raised-hand-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -305px;}
.emoji-peace-hand-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -49px -321px;}
.emoji-peace-hand-white {background: url('sprites/sheet_apple_16.png') no-repeat -49px -337px;}
.emoji-peace-hand-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -353px;}
.emoji-peace-hand-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -369px;}
.emoji-peace-hand-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -385px;}
.emoji-peace-hand-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -401px;}
.emoji-writing-hand-yellow {background: url('sprites/sheet_apple_16.png') no-repeat -49px -417px;}
.emoji-writing-hand-white {background: url('sprites/sheet_apple_16.png') no-repeat -49px -433px;}
.emoji-writing-hand-tan-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -449px;}
.emoji-writing-hand-tan-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -465px;}
.emoji-writing-hand-black-1 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -481px;}
.emoji-writing-hand-black-2 {background: url('sprites/sheet_apple_16.png') no-repeat -49px -497px;}
.emoji-pencil {background: url('sprites/sheet_apple_16.png') no-repeat -49px -513px;}
.emoji-fountain-pen-right {background: url('sprites/sheet_apple_16.png') no-repeat -49px -529px;}
.emoji-heavy-check {background: url('sprites/sheet_apple_16.png') no-repeat -49px -545px;}
.emoji-heavy-x {background: url('sprites/sheet_apple_16.png') no-repeat -49px -561px;}
.emoji-latin-cross {background: url('sprites/sheet_apple_16.png') no-repeat -49px -577px;}
.emoji-star-of-david {background: url('sprites/sheet_apple_16.png') no-repeat -49px -593px;}
.emoji-sparkles {background: url('sprites/sheet_apple_16.png') no-repeat -49px -609px;}
.emoji-eight-spoked-asterisk {background: url('sprites/sheet_apple_16.png') no-repeat -49px -625px;}
.emoji-orange-x {background: url('sprites/sheet_apple_16.png') no-repeat -49px -641px;}






.emoji-snowflake {background: url('sprites/sheet_apple_16.png') no-repeat -65px -1px;}
.emoji-sparkle {background: url('sprites/sheet_apple_16.png') no-repeat -65px -17px;}
.emoji-cross-mark {background: url('sprites/sheet_apple_16.png') no-repeat -65px -33px;}
.emoji-negative-squared-cross-mark {background: url('sprites/sheet_apple_16.png') no-repeat -65px -49px;}
.emoji-question-mark-red {background: url('sprites/sheet_apple_16.png') no-repeat -65px -65px;}
.emoji-question-mark-white {background: url('sprites/sheet_apple_16.png') no-repeat -65px -81px;}
.emoji-exclaim-single-red {background: url('sprites/sheet_apple_16.png') no-repeat -65px -97px;}
.emoji-exclaim-single-white {background: url('sprites/sheet_apple_16.png') no-repeat -65px -113px;}
.emoji-heart-exclamation-mark {background: url('sprites/sheet_apple_16.png') no-repeat -65px -129px;}
.emoji-heart {background: url('sprites/sheet_apple_16.png') no-repeat -65px -145px;}
.emoji-plus {background: url('sprites/sheet_apple_16.png') no-repeat -65px -161px;}
.emoji-minus {background: url('sprites/sheet_apple_16.png') no-repeat -65px -177px;}
.emoji-division {background: url('sprites/sheet_apple_16.png') no-repeat -65px -193px;}
.emoji-arrow-right {background: url('sprites/sheet_apple_16.png') no-repeat -65px -209px;}
.emoji-curly-loop {background: url('sprites/sheet_apple_16.png') no-repeat -65px -225px;}
.emoji-double-curly-loop {background: url('sprites/sheet_apple_16.png') no-repeat -65px -241px;}
.emoji-arrow-loop-up {background: url('sprites/sheet_apple_16.png') no-repeat -65px -257px;}
.emoji-arrow-loop-down {background: url('sprites/sheet_apple_16.png') no-repeat -65px -273px;}
.emoji-arrow-left {background: url('sprites/sheet_apple_16.png') no-repeat -65px -289px;}
.emoji-arrow-up {background: url('sprites/sheet_apple_16.png') no-repeat -65px -305px;}
.emoji-arrow-down {background: url('sprites/sheet_apple_16.png') no-repeat -65px -321px;}
.emoji-square-black-large {background: url('sprites/sheet_apple_16.png') no-repeat -65px -337px;}
.emoji-square-white-large {background: url('sprites/sheet_apple_16.png') no-repeat -65px -353px;}
.emoji-star {background: url('sprites/sheet_apple_16.png') no-repeat -65px -369px;}
.emoji-red-circle {background: url('sprites/sheet_apple_16.png') no-repeat -65px -385px;}
.emoji-wavy-dash {background: url('sprites/sheet_apple_16.png') no-repeat -65px -401px;}
.emoji-part-alternation-mark {background: url('sprites/sheet_apple_16.png') no-repeat -65px -417px;}
.emoji-circled-ideograph-congratulation {background: url('sprites/sheet_apple_16.png') no-repeat -65px -433px;}
.emoji-circled-ideograph-secret {background: url('sprites/sheet_apple_16.png') no-repeat -65px -449px;}
.emoji-mahjong-tile-red-dragon {background: url('sprites/sheet_apple_16.png') no-repeat -65px -465px;}
.emoji-joker-card {background: url('sprites/sheet_apple_16.png') no-repeat -65px -481px;}
.emoji-white-a {background: url('sprites/sheet_apple_16.png') no-repeat -65px -497px;}
.emoji-white-b {background: url('sprites/sheet_apple_16.png') no-repeat -65px -513px;}
.emoji-white-o {background: url('sprites/sheet_apple_16.png') no-repeat -65px -529px;}
.emoji-white-p {background: url('sprites/sheet_apple_16.png') no-repeat -65px -545px;}
.emoji-white-ab {background: url('sprites/sheet_apple_16.png') no-repeat -65px -561px;}
.emoji-white-cl {background: url('sprites/sheet_apple_16.png') no-repeat -65px -577px;}
.emoji-squared-cool {background: url('sprites/sheet_apple_16.png') no-repeat -65px -593px;}
.emoji-squared-free {background: url('sprites/sheet_apple_16.png') no-repeat -65px -609px;}
.emoji-squared-id {background: url('sprites/sheet_apple_16.png') no-repeat -65px -625px;}
.emoji-squared-new {background: url('sprites/sheet_apple_16.png') no-repeat -65px -641px;}




.emoji-squared-ng {background: url('sprites/sheet_apple_16.png') no-repeat -81px -1px;}
.emoji-squared-ok {background: url('sprites/sheet_apple_16.png') no-repeat -81px -17px;}
.emoji-sos {background: url('sprites/sheet_apple_16.png') no-repeat -81px -33px;}
.emoji-squared-up {background: url('sprites/sheet_apple_16.png') no-repeat -81px -49px;}
.emoji-squared-vs {background: url('sprites/sheet_apple_16.png') no-repeat -81px -65px;}
.emoji-squared-katakana-koko {background: url('sprites/sheet_apple_16.png') no-repeat -81px -81px;}
.emoji-squared-katakana-sa {background: url('sprites/sheet_apple_16.png') no-repeat -81px -97px;}
.emoji-squared-cjk-unified-ideograph-7121 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -113px;}
.emoji-squared-cjk-unified-ideograph-6307 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -129px;}
.emoji-squared-cjk-unified-ideograph-7981 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -145px;}
.emoji-squared-cjk-unified-ideograph-7a7a {background: url('sprites/sheet_apple_16.png') no-repeat -81px -161px;}
.emoji-squared-cjk-unified-ideograph-5408 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -177px;}
.emoji-squared-cjk-unified-ideograph-6e80 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -193px;}
.emoji-squared-cjk-unified-ideograph-6709 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -209px;}
.emoji-squared-cjk-unified-ideograph-6708 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -225px;}
.emoji-squared-cjk-unified-ideograph-7533 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -241px;}
.emoji-squared-cjk-unified-ideograph-5272 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -257px;}
.emoji-squared-cjk-unified-ideograph-55b6 {background: url('sprites/sheet_apple_16.png') no-repeat -81px -273px;}
.emoji-circled-ideograph-advantage {background: url('sprites/sheet_apple_16.png') no-repeat -81px -289px;}
.emoji-circled-ideograph-accept {background: url('sprites/sheet_apple_16.png') no-repeat -81px -305px;}
.emoji-cyclone {background: url('sprites/sheet_apple_16.png') no-repeat -81px -321px;}
.emoji-foggy {background: url('sprites/sheet_apple_16.png') no-repeat -81px -337px;}
.emoji-closed-umbrella {background: url('sprites/sheet_apple_16.png') no-repeat -81px -353px;}
.emoji-night-with-stars {background: url('sprites/sheet_apple_16.png') no-repeat -81px -369px;}
.emoji-sunrise-over-mountains {background: url('sprites/sheet_apple_16.png') no-repeat -81px -385px;}
.emoji-sunrise {background: url('sprites/sheet_apple_16.png') no-repeat -81px -401px;}
.emoji-cityscape-at-dusk {background: url('sprites/sheet_apple_16.png') no-repeat -81px -417px;}
.emoji-sunset-over-buildings {background: url('sprites/sheet_apple_16.png') no-repeat -81px -433px;}
.emoji-rainbow {background: url('sprites/sheet_apple_16.png') no-repeat -81px -449px;}
.emoji-mahjong-tile-red-dragon {background: url('sprites/sheet_apple_16.png') no-repeat -81px -465px;}
.emoji-joker-card {background: url('sprites/sheet_apple_16.png') no-repeat -81px -481px;}
.emoji-white-a {background: url('sprites/sheet_apple_16.png') no-repeat -81px -497px;}
.emoji-white-b {background: url('sprites/sheet_apple_16.png') no-repeat -81px -513px;}
.emoji-white-o {background: url('sprites/sheet_apple_16.png') no-repeat -81px -529px;}
.emoji-white-p {background: url('sprites/sheet_apple_16.png') no-repeat -81px -545px;}
.emoji-white-ab {background: url('sprites/sheet_apple_16.png') no-repeat -81px -561px;}
.emoji-white-cl {background: url('sprites/sheet_apple_16.png') no-repeat -81px -577px;}
.emoji-squared-cool {background: url('sprites/sheet_apple_16.png') no-repeat -81px -593px;}
.emoji-squared-free {background: url('sprites/sheet_apple_16.png') no-repeat -81px -609px;}
.emoji-squared-id {background: url('sprites/sheet_apple_16.png') no-repeat -81px -625px;}
.emoji-squared-new {background: url('sprites/sheet_apple_16.png') no-repeat -81px -641px;}